.box_1{
    background-color: purple;
    color: white;
    padding: 1rem;
}

.box_2{
    background-color: gold;
    color: black;
    padding: 1rem;
}

 @media screen and (min-width: 780px){ /* Agar screen ka size minimum 780 px hoga tab display flex hoga  */
    .container{
        display: flex;
    }

    .box_1{
        background-color: dodgerblue;
    }
}

